## Example of Pyspark ML

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Missing').getOrCreate()

In [2]:
## Read the Dateset
training = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [3]:
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [4]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [6]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [8]:
# [age, Expirience] ---> new feature ---> independent feature

In [9]:
from pyspark.ml.feature import VectorAssembler

featureassembler = VectorAssembler(inputCols=['age', 'Experience'], outputCol='Independent Feature')

In [10]:
output = featureassembler.transform(training)

In [11]:
output.show()

+---------+---+----------+------+-------------------+
|     Name|age|Experience|Salary|Independent Feature|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|        [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|         [30.0,8.0]|
|    Sunny| 29|         4| 20000|         [29.0,4.0]|
|     Paul| 24|         3| 20000|         [24.0,3.0]|
|   Harsha| 21|         1| 15000|         [21.0,1.0]|
|  Shubham| 23|         2| 18000|         [23.0,2.0]|
+---------+---+----------+------+-------------------+

In [12]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Feature']

In [13]:
finalized_data = output.select('Independent Feature', 'Salary')

In [14]:
finalized_data.show()

+-------------------+------+
|Independent Feature|Salary|
+-------------------+------+
|        [31.0,10.0]| 30000|
|         [30.0,8.0]| 25000|
|         [29.0,4.0]| 20000|
|         [24.0,3.0]| 20000|
|         [21.0,1.0]| 15000|
|         [23.0,2.0]| 18000|
+-------------------+------+

In [138]:
from pyspark.ml.regression import LinearRegression
## Train test split

train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol='Independent Feature', labelCol='Salary')
regressor = regressor.fit(train_data)

In [139]:
### Coefficients
regressor.coefficients

DenseVector([-714.2857, 3485.7143])

In [140]:
### Intercepts
regressor.intercept

26857.142857139796

In [141]:
### Prterdiction
pred_result = regressor.evaluate(test_data)

In [142]:
pred_result.predictions.show()

+-------------------+------+-----------------+
|Independent Feature|Salary|       prediction|
+-------------------+------+-----------------+
|         [30.0,8.0]| 25000|33314.28571428435|
|        [31.0,10.0]| 30000|39571.42857142653|
+-------------------+------+-----------------+