In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\eugen\appdata\local\programs\python\python310\lib\site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eugen\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\eugen\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\eugen\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\eugen\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in c:\users\eugen\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.1
[notice] To update, run: C:\Users\eugen\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
from pyspark.sql import SparkSession

In [6]:
pd.read_csv('test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [7]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [8]:
spark

In [9]:
df_pyspark = spark.read.csv('test1.csv')

In [10]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [13]:
df_pyspark = spark.read.option('header', True).csv('test1.csv')

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(3)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000'),
 Row(Name='Sunny', age='29', Experience='4', Salary='20000')]

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)